.header {
    width: 100%;
    margin: 28px auto 42px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

@media screen and (min-width: 924px) {
    .header {
        max-width: 880px;
        gap: 38px;
        margin-top: 45px;
        margin-bottom: 40px;
    }
}